<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link rel="stylesheet" href="./new-request.css" />
    <title>List Request</title>
  </head>
  <body>
    <div class="container p-3">
      <h3>Form yรชu cแบงu lแบฅy dแปฏ liแปu khoa</h3>
      <a href="/">๐ แปฆa gรฌ lแบก quรก hแบฃ. Thรดi quay lแบกi trang chแปง hen.</a>
      <div class="alert alert-primary" role="alert">
        ๐ Nแบฟu bแบกn muแปn tแปฑ mรฌnh gแปญi yรชu cแบงu thรฌ cรณ thแป liรชn hแป vแปi mรฌnh. Hiแปn
        tแบกi mรฌnh giแปฏ mแบญt khแบฉu ฤแป tแบกo yรชu cแบงu รฝ.
      </div>
      <div class="alert alert-primary" role="alert">
        ๐ Tแบฅt cแบฃ dแปฏ liแปu trong bแบฃng dฦฐแปi ฤรขy sแบฝ ฤฦฐแปฃc xแปญ lรฝ vรo lรบc 00:01 tแปi
        mแปi ngรy mแปt cรกch tแปฑ ฤแปng. Vแบญy nรชn hรฃy xem vรo lรบc ngรy hรดm sau nhรฉ.
      </div>
      <div class="alert alert-primary" role="alert">
        ๐ Chรบc bแบกn 1 ngรy tแปt lรnh. ๐ฅ
      </div>
      <a
        target="_blank"
        href="https://www.facebook.com/profile.php?id=100010765894081"
        >๐ Link Facebook cแปงa mรฌnh. Khรดng cรณ ฤแปc hแบกi gรฌ ฤรขu. ^^</a
      >
      <a
        href="https://askme.love/tontrungson5532?fsid=1596283714979&fbclid=IwAR0RmORLsZxFmkGs-wZee00lUprXc89PPWMT2FxEPxnzDENwIfSzn8fpOG4"
        >๐ Ngแบกi thรฌ ask แบฉn danh cลฉng ฤฦฐแปฃc</a
      >
      <form>
        <!-- <input
          id="username"
          placeholder="Mแปi bแบกn ฤiแปn username"
          type="text"
          name="username"
          value="admin"
          disabled
        />
        <input
          id="password"
          placeholder="Mแปi bแบกn ฤiแปn password"
          type="password"
          value=""
          name="password"
        /> -->
        <input
          id="firstId"
          placeholder="Mแปi bแบกn ฤiแปn firstId"
          type="text"
          value="311741xxx1"
          name="firstId"
        />
        <input
          id="total"
          placeholder="Mแปi bแบกn ฤiแปn khoa bแบกn cรณ nhiรชu sinh viรชn"
          type="text"
          value=""
          name="total"
        />
        <select name="faculty" id="faculty"
          ><option value="">--- [Chแปn Ngรnh] ---</option
          ><option value="_____">Chฦฐa gรกn ngรnh</option
          ><option value="CCM">Cรดng nghแป Kฤฉ thuแบญt Mรดi trฦฐแปng</option
          ><option value="CCN">SP Kแปน thuแบญt Cรดng nghiแปp</option
          ><option value="CCT">Cรดng nghแป thรดng tin</option
          ><option value="CDI">SP ฤแปa lรฝ</option
          ><option value="CGC">Giรกo dแปฅc cรดng dรขn</option
          ><option value="CGM">Giรกo dแปฅc Mแบงm non</option
          ><option value="CGT">Giรกo dแปฅc Tiแปu hแปc</option
          ><option value="CHO">SP Hรณa</option
          ><option value="CKD">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn, ฤiแปn tแปญ</option
          ><option value="CKE">Kแบฟ toรกn</option
          ><option value="CKG">SP Kinh tแบฟ Gia ฤรฌnh</option
          ><option value="CKM">Khoa hแปc mรดi trฦฐแปng</option
          ><option value="CKN">SP Kแปน thuแบญt Nรดng nghiแปp</option
          ><option value="CKT">Cรดng nghแป KT ฤiแปn tแปญ, truyแปn thรดng</option
          ><option value="CKV">Khoa hแปc Thฦฐ viแปn</option
          ><option value="CLI">SP Vแบญt lรญ</option
          ><option value="CLT">Lฦฐu trแปฏ hแปc</option
          ><option value="CMI">SP Mแปน thuแบญt</option
          ><option value="CMT">Khoa hแปc mรกy tรญnh</option
          ><option value="CNH">SP รm nhแบกc</option
          ><option value="CQK">Quแบฃn trแป kinh doanh</option
          ><option value="CQV">Quแบฃn trแป vฤn phรฒng</option
          ><option value="CSA">SP Tiแบฟng Anh</option
          ><option value="CSI">SP Sinh hแปc</option
          ><option value="CSP">SP Tiแบฟng Phรกp</option
          ><option value="CSU">SP Lแปch sแปญ</option
          ><option value="CTA">Tiแบฟng Anh</option
          ><option value="CTI">SP Tin</option
          ><option value="CTK">Thฦฐ kรฝ vฤn phรฒng</option
          ><option value="CTN">Tรi chรญnh - Ngรขn hรng</option
          ><option value="CTO">SP Toรกn</option
          ><option value="CTV">Thฦฐ viแปn - Thรดng tin</option
          ><option value="CVA">SP Ngแปฏ vฤn</option
          ><option value="CVI">Viแปt Nam hแปc</option
          ><option value="DAN">Ngรดn ngแปฏ Anh</option
          ><option value="DCM">Cรดng nghแป Kฤฉ thuแบญt Mรดi trฦฐแปng</option
          ><option value="DCM_CMXC"
            >Cรดng nghแป xแปญ lรญ chแบฅt thแบฃi rแบฏn vร chแบฅt thแบฃi nguy hแบกi</option
          ><option value="DCM_CMXN">Cรดng nghแป xแปญ lรญ nฦฐแปc</option
          ><option value="DCT">Cรดng nghแป thรดng tin</option
          ><option value="DCT_07HT">Hแป thแปng thรดng tin</option
          ><option value="DCT_07MM">Mแบกng mรกy tรญnh</option
          ><option value="DCT_07PM">Kแปน thuแบญt phแบงn mแปm</option
          ><option value="DCT_CTHT">Hแป thแปng thรดng tin</option
          ><option value="DCT_CTMM">Mแบกng mรกy tรญnh</option
          ><option value="DCT_CTPM">Kแปน thuแบญt phแบงn mแปm</option
          ><option value="DCV">Cรดng nghแป kแปน thuแบญt ฤiแปn tแปญ - viแปn thรดng</option
          ><option value="DDD">Kฤฉ thuแบญt ฤiแปn, ฤiแปn tแปญ</option
          ><option value="DDD_DDDC">Kฤฉ thuแบญt ฤiแปn cรดng nghiแปp</option
          ><option value="DDD_DDDI">Kแปน thuแบญt ฤiแปn</option
          ><option value="DDD_DDDN">Kฤฉ thuแบญt ฤiแปn nฤng</option
          ><option value="DDD_DDDT">Kแปน thuแบญt ฤiแปn tแปญ</option
          ><option value="DDD_DDMT">Kฤฉ thuแบญt ฤiแปn tแปญ mรกy tรญnh</option
          ><option value="DDE">Kแปน thuแบญt ฤiแปn</option
          ><option value="DDI">SP ฤแปa lรฝ</option
          ><option value="DDI_DICS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DDI_DIPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DDT">Kฤฉ thuแบญt ฤiแปn tแปญ, Truyแปn thรดng</option
          ><option value="DDT_DTDT">Kฤฉ thuแบญt ฤiแปn tแปญ</option
          ><option value="DDT_DTTT">Kฤฉ thuแบญt truyแปn thรดng</option
          ><option value="DDV">Kแปน thuแบญt ฤiแปn tแปญ - viแปn thรดng</option
          ><option value="DGC">SP Giรกo dแปฅc cรดng dรขn</option
          ><option value="DGD">Giรกo dแปฅc Chรญnh trแป</option
          ><option value="DGD_GDCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DGD_GDPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DGM">Giรกo dแปฅc Mแบงm non</option
          ><option value="DGT">Giรกo dแปฅc Tiแปu hแปc</option
          ><option value="DHO">SP Hรณa</option
          ><option value="DHO_HOCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DHO_HOPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DKD">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn, ฤiแปn tแปญ</option
          ><option value="DKD_KDDC">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn cรดng nghiแปp</option
          ><option value="DKD_KDDI">Cรดng nghแป kแปน thuแบญt ฤiแปn</option
          ><option value="DKD_KDDN">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn nฤng</option
          ><option value="DKD_KDDT">Cรดng nghแป kแปน thuแบญt ฤiแปn tแปญ</option
          ><option value="DKD_KDMT">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn tแปญ mรกy tรญnh</option
          ><option value="DKE">Kแบฟ toรกn</option
          ><option value="DKH">Sฦฐ phแบกm Khoa hแปc tแปฑ nhiรชn</option
          ><option value="DKH_THCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DKM">Khoa hแปc mรดi trฦฐแปng</option
          ><option value="DKM_KMKM">Khoa hแปc mรดi trฦฐแปng</option
          ><option value="DKM_KMQL">Quแบฃn lรญ mรดi trฦฐแปng vร tรi nguyรชn</option
          ><option value="DKM_MTCN">Cรดng nghแป mรดi trฦฐแปng</option
          ><option value="DKM_MTQL">Quแบฃn lรฝ mรดi trฦฐแปng</option
          ><option value="DKP">Kแปน thuแบญt phแบงn mแปm</option
          ><option value="DKQ">Kinh doanh quแปc tแบฟ</option
          ><option value="DKT">Cรดng nghแป KT ฤiแปn tแปญ, truyแปn thรดng</option
          ><option value="DKT_KTDT">Cรดng nghแป Kฤฉ thuแบญt ฤiแปn tแปญ</option
          ><option value="DKT_KTTT">Cรดng nghแป Kฤฉ thuแบญt truyแปn thรดng</option
          ><option value="DKV">Khoa hแปc Thฦฐ viแปn</option
          ><option value="DLD">Sฦฐ phแบกm Lแปch sแปญ - ฤแปa lรฝ</option
          ><option value="DLD_THCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DLH">Luแบญt</option
          ><option value="DLI">SP Vแบญt lรญ</option
          ><option value="DLI_LICS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DLI_LIPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DLK">Luแบญt</option
          ><option value="DLM">Luแบญt</option
          ><option value="DLU">Luแบญt</option
          ><option value="DLU_LUHC">Luแบญt Hรnh chรญnh</option
          ><option value="DLU_LUKD">Luแบญt Kinh doanh</option
          ><option value="DLU_LUTM">Luแบญt Thฦฐฦกng mแบกi quแปc tแบฟ</option
          ><option value="DMI">SP Mแปน thuแบญt</option
          ><option value="DNA">Thanh nhแบกc</option
          ><option value="DNH">SP รm nhแบกc</option
          ><option value="DQG">Quแบฃn lรฝ Giรกo dแปฅc</option
          ><option value="DQK">Quแบฃn trแป kinh doanh</option
          ><option value="DQT">Quแปc tแบฟ hแปc</option
          ><option value="DQT_QTQH">Quan hแป quแปc tแบฟ</option
          ><option value="DQV">Quแบฃn trแป vฤn phรฒng</option
          ><option value="DSA">SP Tiแบฟng Anh</option
          ><option value="DSA_SACS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DSA_SAPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DSI">SP Sinh hแปc</option
          ><option value="DSI_SICS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DSI_SIPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DSP">SP Tiแบฟng Phรกp</option
          ><option value="DSU">SP Lแปch sแปญ</option
          ><option value="DSU_SUCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DSU_SUPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DTA">Tiแบฟng Anh</option
          ><option value="DTI">SP Tin</option
          ><option value="DTL">Tรขm lรญ hแปc</option
          ><option value="DTN">Tรi chรญnh - Ngรขn hรng</option
          ><option value="DTN_TNNH">Ngรขn hรng</option
          ><option value="DTN_TNTC">Tรi chรญnh</option
          ><option value="DTO">SP Toรกn</option
          ><option value="DTO_TOCS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DTO_TOPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DTT">Thรดng tin - Thฦฐ viแปn</option
          ><option value="DTU">Toรกn แปฉng dแปฅng</option
          ><option value="DTU_TUKT">Kinh tแบฟ ฤแปnh lฦฐแปฃng</option
          ><option value="DTU_TUTT">Toรกn tin แปฉng dแปฅng</option
          ><option value="DTV">Thฦฐ viแปn - Thรดng tin</option
          ><option value="DVA">SP Ngแปฏ vฤn</option
          ><option value="DVA_VACS">ฤรo tแบกo giรกo viรชn THCS</option
          ><option value="DVA_VAPT">ฤรo tแบกo giรกo viรชn THPT</option
          ><option value="DVI">Viแปt Nam hแปc</option
          ><option value="HHC">Hรณa hแปฏu cฦก</option
          ><option value="HLT">Hรณa lรฝ thuyแบฟt vร hรณa lรฝ</option
          ><option value="KDKD">Kinh doanh</option
          ><option value="KHGD">Khoa hแปc giรกo dแปฅc</option
          ><option value="KHVC">Khoa hแปc vแบญt chแบฅt</option
          ><option value="KMT">Khoa hแปc mรกy tรญnh</option
          ><option value="LSV">Lแปch sแปญ Viแปt Nam</option
          ><option value="MTMT">Mรกy tรญnh</option
          ><option value="NNH">Ngรดn ngแปฏ hแปc</option
          ><option value="NNVH">Ngรดn ngแปฏ vร vฤn hรณa nฦฐแปc ngoรi</option
          ><option value="NNVV">Ngรดn ngแปฏ vร vฤn hรณa Viแปt Nam</option
          ><option value="NVNV">Nhรขn vฤn khรกc</option
          ><option value="PPT"
            >Lรฝ luแบญn vร phฦฐฦกng phรกp dแบกy hแปc bแป mรดn Toรกn</option
          ><option value="QKD">Quแบฃn trแป kinh doanh</option
          ><option value="QLG">Quแบฃn lรฝ giรกo dแปฅc</option
          ><option value="TCNB">Tรi chรญnh - Ngรขn hรng - Bแบฃo hiแปm</option
          ><option value="TCT">Cรดng nghแป thรดng tin (Chแบฅt lฦฐแปฃng cao)</option
          ><option value="TDN">Kแบฟ toรกn doanh nghiแปp</option
          ><option value="TGM">Giรกo dแปฅc Mแบงm non</option
          ><option value="TGT">Toรกn giแบฃi tรญch</option
          ><option value="THTH">Toรกn hแปc</option
          ><option value="TKE">Kแบฟ toรกn (Chแบฅt lฦฐแปฃng cao)</option
          ><option value="TNH">Tรi chรญnh - Ngรขn hรng</option
          ><option value="TQM">Quแบฃn trแป mแบกng mรกy tรญnh</option
          ><option value="TSM">Sฦฐ phแบกm Mแบงm non</option
          ><option value="VHV">Vฤn hแปc Viแปt Nam</option></select
        >

        <select id="k" name="k">
          <option value="K16">K16</option>
          <option value="K17">K17</option>
          <option value="K18">K18</option>
          <option value="K19">K19</option>
        </select>

        <select id="semester">
          <option value="HK1">HK1</option>
          <option value="HK2">HK2</option>
          <option value="HK3">HK3</option>
        </select>

        <!-- <input
          id="name"
          placeholder="Mแปi bแบกn ฤiแปn name"
          type="text"
          value="Ngรnh Cรดng nghแป thรดng tin K17 HK2 2020"
          name="name"
        />
        <input
          id="value"
          placeholder="Mแปi bแบกn ฤiแปn value"
          type="text"
          value="nganh_cntt_k17_hk2_2020"
          name="value"
        /> -->
        <button id="submit" type="button" onclick="submitFunc()">Gแปญi ฤi</button>
      </form>

      <div style="overflow-y: scroll;">
        <table class="table mt-5">
          <tr>
            <th>Tรชn file</th>
            <th>Filepath</th>
            <th>Mรฃ ฤแบงu tiรชn</th>
            <th>Tแปng sinh viรชn</th>
            <th>Gแปญi yรชu cรขu vรo lรบc</th>
          </tr>
          <% data.forEach(function(item){ %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.value %></td>
            <td><%= item.firstId %></td>
            <td><%= item.total %></td>
            <td>
              <strong style="color: red; font-weight: boldz;"
                ><%= item.datetimeRequest %></strong
              >
            </td>
          </tr>

          <% }) %>
        </table>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
